body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  padding: 5px;
}

.box{
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 250px;
  color: black;
  display: flex;
  justify-content: center; /*TEXT x-axis*/
  align-items: center;  /*TEXT y-axis*/
  border-color:black;
  border-radius: 8px;
  border-style: solid;
  box-shadow: 0px 5px 25px lightgray;

}
.colorCode{
  font-size: 14px;
  margin-bottom: 5px;
  padding: 8px;
  height: 20%;
}

.boxColor{
  background-color: #5C6AC4;
  height: 80%;
  width: 100%;
}

.generateBtn{
  padding: 10px 15px;
  font-size: 16px;
  background-color: #5C6AC4;
  color: white;
  border: none;
  box-shadow: 5px 5px 25px lightgray;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}

.generateBtn:hover{
  background-color: #4b57a3;
}

.generateBtn:active{
  box-shadow: none;
}