body{
  padding: 25px;
}

button{
  padding: 20px 15px;
  font-size: 16px;
  background-color: #5C6AC4;
  color: white;
  border: none;
  box-shadow: 5px 5px 25px lightgray;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}
button:hover{
  background-color: #4b57a3;
}
button:active{
  box-shadow: none;
}

.evenSpace{
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.title {
	color: #5C6AC4;
}

.container {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  gap: 15px;
  padding: 15px;
}

.box{
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 250px;
  color: black;
  display: flex;
  justify-content: center; /*TEXT x-axis*/
  align-items: center;  /*TEXT y-axis*/
  border-color:black;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0px 5px 25px lightgray; 
}

.box:hover{
  box-shadow: 0px 12px 30px gray;  
  height: 260px;
  width: 26%;
}

.colorCode {
  font-size: 18px;
  font-weight: 700;
  padding: 2px;
  height: 20%;
  margin-top: 10px;
}

.hexcode {
  font-size: 18px;
  font-weight: 700;
  padding: 2px;
  height: 20%;
  margin-bottom: 5px;
}

.boxColor{
  background-color: #5C6AC4;
  height: 100%;
  width: 100%;
}

