body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  padding: 5px;
}

.box{
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 250px;
  color: black;
  display: flex;
  justify-content: center; /*TEXT x-axis*/
  align-items: center;  /*TEXT y-axis*/
  border-color:black;
  border-radius: 8px;
  border-style: solid;
}
.colorCode{
  font-size: 14px;
  margin-bottom: 5px;
  padding: 8px;
  height: 20%;
}

.boxColor{
  background-color: #5C6AC4;
  height: 80%;
  width: 100%;
}